In [2]:
import pandas as pd
import random as rd
from datetime import date

sales_data = pd.read_csv("sales.csv")

In [3]:
sales_data.head(10)

,transaction_id,product_id,quantity,total_transaction_amount,transaction_date
0,1,6,1,4218,1/16/2024
1,2,41,1,3919,5/20/2024
2,3,96,18,5028,8/30/2023
3,4,37,14,8834,9/10/2023
4,5,45,3,5946,11/5/2023
5,6,38,13,5712,6/16/2024
6,7,13,16,7753,5/2/2024
7,8,32,18,4143,1/24/2024
8,9,94,8,1094,2/5/2024
9,10,67,16,3569,3/20/2024

In [3]:
for i in range(20):
    f = open(f"sales_{i+1}.csv", "w")
    f.close()

In [4]:
headers = []

for i in sales_data:
    headers.append(i)
print(headers)

['transaction_id', 'product_id', 'quantity', 'total_transaction_amount', 'transaction_date']

In [22]:
years = [2022, 2023, 2024]

for i in range(20):
    
    rows = []
    transaction_counter = 1
    
    for j in range(100):
        random_transaction_id = transaction_counter
        random_product_id = rd.randint(1, 100)
        random_quantity = rd.randint(1, 20)
        random_transaction_amount = rd.randint(100, 10000)
        month = rd.randint(1, 12) 
        day = rd.randint(1, 27)
        year = years[rd.randint(0, 2)]
        random_transaction_date = date(year, month, day)

        rows.append([random_transaction_id, random_product_id, random_quantity, random_transaction_amount, random_transaction_date])
        transaction_counter += 1

        # take all of this data and turn it into a dataframe
    df = pd.DataFrame(rows, columns=['transaction_id', 'product_id', 'quantity', 'total_transaction_amount', 'transaction_date'])
    df.to_csv(f"sales_{i+1}.csv", mode="a", index=True, header=headers)

In [16]:
arr = [1, 2, 3, 4, ]
print(arr)
arr = []
print(arr)

[1, 2, 3, 4]
[]

In [21]:
for i in range(20):
    empty_df = pd.DataFrame()
    empty_df.to_csv(f"sales_{i+1}.csv", index=False)